.manageEvent{
    background-image: url('https://www.theknot.com/tk-media/images/e27e070d-16c2-4cea-8600-abf50103c841~rs_768.h');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mangApp{
    color: #00008B;
    display: flex;
    height: 10vh;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: bold;
}
  
