#Addform{
  max-width: 800px;
  padding: 16px;
  background-color: #DCDCDC; 
  opacity: 0.8;
}

h4{
	font-family:Arial;
	font-weight: bold;
	color:#000080;
    font-size: 2rem;
    text-align: center;
}

#b1 {
    background-color: #8B008B; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.AddEventpg{
      background-image: url('https://www.gethow.org/wp-content/uploads/2019/09/event-planning.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      font-weight: bold;
}
 
.eventMan{
	width:180px;
}

