h2{
    text-align: center;
    font-weight:bold;
    color:#000080;
    font-size: 3rem;
}

.viewapp{
    text-align: center;
    font-weight:bold;
    color:#e41795;
    font-size: 3rem;
}

#ba3 {
    background-color: #008000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



#b4{
    color: #FF0000;
}


table {
    border-collapse: collapse;
    width: 70%;
}
  
table ,tr,td{
    border: 1px solid #ddd;
    text-align: left;
}
  
td{
    padding:15px;
}
  
tr:nth-child(even)
{
   background-color: #FAEBD7;
}
   
tr:nth-child(odd)
{
   background-color: #FFF8DC;
}

th:nth-child(odd){
    background-color:#f2f2f2;
}

th:nth-child(even){
    background-color: #f2f2f2;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: blueviolet;
}

.viewEventpg{
    background-image: url('https://hips.hearstapps.com/clv.h-cdn.co/assets/17/15/outdoor-wedding-ideas-floral-garland-centerpiece-photo-viainspired-by-this-dan-stewart-photography-planning-smitten-events-venue-menonaqua-inn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}      

.searchEventBtn{
    background-color: #eccc3a; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}